<div class="container-fluid">
	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
	<div class="row d-flex flex-nowrap align-items-center">

		<div class="col-md-1">
			{{ form_row(form.dni, {
            'attr': {'class': 'form-control form-control-sm'},
         }) }}
		</div>

		<div class="col-md-1">
            {{ form_row(form.fechaInicio, { 'attr': { 
                    'class' : 'form-control form-control-sm', 
                    'data-controller' : 'datetimepicker', 
						  'data-datetimepicker-format-value': 'yyyy-MM-dd', 
						  'data-datetimepicker-show-clock-value': false,
					}
            }) }}
		</div>
		<div class="col-md-1">
            {{ form_row(form.fechaFin, { 'attr': { 
                    'class' : 'form-control form-control-sm', 
                    'data-controller' : 'datetimepicker', 
						  'data-datetimepicker-format-value': 'yyyy-MM-dd', 
						  'data-datetimepicker-show-clock-value': false,
					}
            }) }}
		</div>

		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn">{{ "btn.search" | trans }}</button>
		</div>

	</div>
	{{ form_end(form) }}
</div>
